body {
    background-color: rgb(255, 255, 255);
}

h1, h2 {
    text-shadow: 5px 5px 40px black; 
}
.title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    opacity: .8;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 9rem;
    transition: 300ms;
    text-shadow: 5px 5px 50px black;
}

.selection:hover {
    transform: scale(1.3);
    text-shadow: 5px 5px 25px black;
}

.results {
    margin-top: 5rem;
    display: grid;
    justify-content: center;
    font-size: 5rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    text-shadow: 5px 5px 15px black;
}

.result-score {
    margin-left: .2rem;
    font-size: 1.5rem;
    color: #333;
}

.result-selection {
    opacity: .5;
    font-size: 2.5rem;
}

.result-selection.winner {
    opacity: 1;
    font-size: 5rem;
}

#restart {
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(240, 194, 45);
    cursor: pointer;
    /* font-family: 'Franklin Gothic Medium'; */
    font-size: 1.1rem;
    /* transition: 300ms; */
}

#restart:hover {
    transform: scale(1.3);
    background-color: rgb(240, 194, 45);
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 90px #551A8B;
}